html, body {
    font-family: sans-serif;
    background: linear-gradient(0.30turn, #3f87a6, #ebf8e1, #f69d3c);
}

.profile-pic {
    max-width:200px;
    max-height:200px;
    border-radius: 50%;
}

.title {
    font-family: "Ubuntu", sans-serif;
    font-size: 2.5rem;
    color: black;
    text-shadow: 1px 1px 4px white;
}

.title-section {
    text-align:center;
    display:flex;
    justify-content:center;
}

p {
    font-family: "Ubuntu", sans-serif;
}

.banner {
    background-color:transparent;
    height: 100vh;
}

.second {
    background-color:transparent;
    padding-top:30vh;
    height: 100vh;
}

.third {
    background-color:transparent;
    height: 10vh;
}

.container {
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
}

#navbar {
    background-color: rgba(0, 0, 0, 0.616);
    width:100%
}
.nav-container {
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
}
.navbar-nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: transparent;
    height: 100%;
}

.navbar-nav li a{
    display: block;
    color: white;
    padding: 8px;
    text-decoration: none;

}

.navbar-nav li a:active {
    background-color: #4caf54;
    padding: 8px 25px;
    color: white;
}

.navbar-nav li a:hover {
    background-color: #4caf54;
    padding: 8px 25px;
    color: white;
}

.social-links {
    list-style:none;
    padding-left:0px;
    font-size:20px;
    text-align:center;
    display:flex;
    justify-content:center;
}

.social-links a {
    text-decoration: none;
    padding: 20px;
    color: black;
    text-decoration: underline;
}

.social-links a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}



